header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
}

header .container {
	width: 960px;
	margin: 0 auto;
}

.logo {
	display: inline-block;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 1em;
	width: auto;
}

.content {
	width: 960px;
	clear: both;
	margin: 0 auto 6em auto;
}

.main {
	display: inline-block;
	width: 570px;
	margin: 40px 0;
	padding: 40px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}
