p {
	line-height: 1.5em;
	margin-top: 25px;
}

body {
	background-image: url(../images/just-waves.png);
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;

}

header {
	border-bottom: 2px solid #cccccc;
	height: 90px;
}

header, .content {
	background-color: #ffffff;
}

.name {
	
	background-color: #4aaaa5;
	
	color: white;
	box-sizing: content-box;
    width: 201px;
	padding: 15px;
	margin-left: 205px;

}

li {
    float: left;
    padding: 5px;
    border-right: 1px solid #4aaaa5;
    display: inline-block;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	width: 960px;
	margin: auto;
	position: relative;
	text-align: center;
}

.logo {
	font-size: 36px;
	padding-top: 20px;
}

h1 {
	position: absolute;
    left: 368px;
    top: 116px;
    background-color: #4aaaa5;
    color: white;
    height: 39px;
    padding: 10px;
}
}

h2 {
	border-bottom: 2px solid #dddddd;
	color: #4aaaa5;
	margin-bottom: 28px;
	padding-bottom: 18px;
}

h5{
	color: white;
	margin-bottom: 8px;
	
	
	
}

h1, h2, h3, h5 {
	font-family: Georgia, 'Times New Roman', Times, serif
}

nav {
	position: absolute;
	right: 201px;
	top: 0;
	height: 90px;
	padding: 35px 0px 35px 35px;
}

.content {
	border: 1px solid #dddddd;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 24px;
	width: 500px;
	height:500px;
	margin-left: 350px;
}

img {
	float: left;
	padding: 15px;
	
}

footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%
    height: 60px;
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    padding-top: 24px;
	text-align: center;
	
}

form {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input[type=email], input[type=text], textarea {
    border: 1px solid #cccccc;
    margin: 6px 0px 16px 0px;
    padding: 10px;
    width: 100%;
}

textarea {
	min-height: 160px;
	resize: vertical;
}

.row {
	position: absolute;
    left: 368px;
    top: 116px;
    background-color: #4aaaa5;
    color: white;
    height: 39px;
    padding: 10px;

}



.portfolio-card {
	position: relative;
	float: left;
	margin-right: 18px;
	margin-bottom: 18px;

}

.card {
	height: 130px;
	width: 130px;
}